.projectCard {
	border: 1px solid $light-blue-grey;
	background-color: $white;
	border-radius: 24px;
	width: calc(33% - 16px);
	margin: 8px;
}

.top {
	padding: 32px;
	border-bottom: 1px solid $pale-grey;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 24px;
}

.date,
.location {
	font-size: 12px;
	color: $light-blue-grey;
}

.title {
	font-size: 18px;
	font-weight: 600;
	color: $black;
	margin-top: 0;
	margin-bottom: 8px;
}

.description {
	font-size: 14px;
	font-weight: normal;
	color: $dark-blue-grey;
	margin-top: 0;
	margin-bottom: 8px;
}

.linkWrapper {
	display: flex;
	align-items: center;
	justify-content: flex-start;

	img {
		border-radius: 4px;
	}
}

.linkUrl {
	font-size: 14px;
	font-weight: normal;
	color: $blue-purple;
	text-decoration: underline;
	margin-left: 8px;
}

.bottom {
	padding: 32px;
}

.role {
	font-size: 14px;
	font-weight: 600;
	color: $dark-blue-grey;
	margin-top: 0;
	margin-bottom: 24px;
}

.hardSkills {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	list-style: none;
}

.skillsSection {
	margin-top: 16px;
}

.skillsTitle {
	font-size: 14px;
	font-weight: 600;
	color: $dark-blue-grey;
	margin-top: 0;
	margin-bottom: 12px;
}

.hardSkill {
	display: inline-flex;
	align-items: center;
	gap: 4px;
	padding: 6px 8px;
	border: 1px solid #cacce4;
	border-radius: 6px;
	transition: all 0.3s;
	color: #000000;
	font-size: 12px;
	font-weight: 300;
	margin-right: 8px;
	margin-bottom: 8px;

	img {
		border-radius: 50%;
	}
}

.hardSkillTitle {
	font-size: inherit;
	font-weight: inherit;
	color: inherit;
}

.iconWrapper {
	margin-right: 8px;
}

@media only screen and (max-width: $breakpoint-xl) {
	.workCard {
		width: calc(50% - 16px);
	}
}
@media only screen and (max-width: $breakpoint-md) {
	.workCard {
		min-width: 352px;
	}
}
@media only screen and (max-width: $breakpoint-sm) {
	.workCard {
		min-width: 90%;
	}
}
