.container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	flex: 1;
	max-width: 50%;
	min-width: 400px;
}

.headingTitle {
	font-size: 62px;
	color: $blue-purple;
	margin: 0;
	line-height: 1.2;
	margin-bottom: 48px;
}

.black {
	color: $black;
}

.headingSubTitle {
	font-size: 24px;
	font-weight: 600;
	color: $black;
	margin-bottom: 24px;
}

.description {
	font-size: 14px;
	color: $black;
	margin-bottom: 48px;
}

.boxes {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}

.boxIcon {
	font-size: 12px;
	margin-right: 8px;
}

@media only screen and (max-width: $breakpoint-xl) {
	.boxes {
		flex-direction: column;
		align-items: stretch;
	}
	.container {
		width: 535px;
		max-width: 100%;
	}
}

@media only screen and (max-width: $breakpoint-lg) {
	.container {
		max-width: 100%;
		min-width: auto;
		text-align: center;
	}

	.headingTitle {
		font-size: 48px;
		margin-bottom: 32px;
	}

	.headingSubTitle {
		font-size: 20px;
	}

	.boxes {
		flex-direction: row;
	}
}

@media only screen and (max-width: $breakpoint-md) {
	.headingTitle {
		font-size: 36px;
		margin-bottom: 24px;
	}

	.headingSubTitle {
		font-size: 18px;
	}
}

@media only screen and (max-width: $breakpoint-sm) {
	.boxes {
		display: none;
	}
}
