.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.whiteSection {
	width: 100%;
	padding: 64px 128px;
	background-color: $white;
}

.graySection {
	width: 100%;
	padding: 64px 128px;
	background-color: #f0f0f0;
}

.aboutDetails {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.wrapper {
	max-width: 1400px;
	margin: 0 auto;
}

.bluePurple {
	color: $blue-purple;
}

.myWorkTitle {
	font-size: 32px;
	color: $dark-blue-grey;
	margin-top: 0;
	margin-bottom: 24px;
}

.myWorkSubTitle {
	font-size: 14px;
	color: $black;
	margin-bottom: 32px;
}
