.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.whiteSection {
	width: 100%;
	padding: 64px 128px;
	background-color: $white;
}

.graySection {
	width: 100%;
	padding: 64px 128px;
	background-color: #f0f0f0;
}

.aboutDetails {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.wrapper {
	max-width: 1400px;
	margin: 0 auto;
}

.bluePurple {
	color: $blue-purple;
}

.myWorkTitle {
	font-size: 32px;
	color: $dark-blue-grey;
	margin-top: 0;
	margin-bottom: 24px;
}

.myWorkSubTitle {
	font-size: 14px;
	font-weight: normal;
	color: $black;
	margin-bottom: 32px;
}

.boxes {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}

.box {
	display: flex;
	align-items: center;

	span {
		margin-left: 8px;
	}

	img {
		border-radius: 50%;
	}
}

.skills {
	width: 100%;
	max-width: 75%;
	padding-right: 64px;
	border-right: 1px solid $pale-grey;
	margin-right: 64px;
	height: 100%;
}

.skillsTitle {
	font-size: 14px;
	font-weight: normal;
	color: $black;
	margin-bottom: 32px;
}

.skillsAndEducationContainer {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.education {
	width: 500px;
}
