html,
body {
	padding: 0;
	margin: 0;
	font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
		Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

pre {
	font-family: inherit;
	white-space: break-spaces;
}

* {
	box-sizing: border-box;
}
