$white: #ffffff;
$black: #000000;
$brownish-grey: #676767;
$light-blue-grey: #cacce4;
$pale-grey: #eaebf8;
$dark-blue-grey: #1d2043;
$blue-purple: #332ad7;

$breakpoint-xxl: 1400px;
$breakpoint-xl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;
$breakpoint-usm: 430px;
